<div class="container-fluid">	
	<div class="row-fluid">
		<section class="span6">
			<p>This application is an open source tool for crowd-sourcing information on real estate properties with the objective of compiling a large, centralized database which will empower individuals and small businesses to improve the quality of their neighborhoods through rehabilitation of vacant or rundown homes. </p>
			

			<p>The Real Estate application itself is a suite of services whose ultimate goal is the rehabilitation of neighborhood properties. The services are as follows:</p>

			<ol>
    			<li>Presenting aggregated data about available properties.</li>
    			<li>Providing tools for discovery of available properties.</li>
    			<li>Providing mechanisms for evaluation of potential investment decisions.</li>
			</ol>

			<p>The central question of the Real Estate application is: “Is this a property that can be feasibly rehabilitated?”</p>

			<p>With the crowd-sourced information provided by neighborhood residents, investors can make sound business decisions which will ultimately improve the quality of residents’ neighborhoods.
			</p>
			
		</section>
		<section class="span6">
			 <div class="carousel slide" id="artists">
			    <div class="carousel-inner">
			      	<div class="item active">
			      		<img src="/assets/larue.jpg" alt="LaVonne LaRue. ">
				      	<div class="carousel-caption">
					        <h4>Mapping</h4>
					        <p>We visualize data to help people discover the properties that they want. </p>
					 	</div>	
			 		</div>
			 
			 		<div class="item">
					 	<img src="/assets/smith.jpg" alt="Constance Smith.">
					 	<div class="carousel-caption">
					      
					        <h4>Searching & Sorting</h4>
					        <p>We enable you to sort properties according to the criterea that help you make better decisions.  </p>
					    </div>
				    </div>
				    
				    <div class="item">
					    <img src="/assets/ta.jpg" alt="Xhou Ta.">
					    <div class="carousel-caption">
					      
					        <h4>Renovating</h4>
					        <p> Our mission is to arm investors and individuals with the information they need to reduce blight in our city.</p>
						</div>
					</div>
				</div>
		  		<a href="#artists" class="left carousel-control" data-slide="prev">&lsaquo;</a> 
		  		<a href="#artists" class="right carousel-control" data-slide="next">&rsaquo;</a> 
		 	 </div>
		</section>
	</div>
</div>
